<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.aiti.buahtangan" android:versionCode="1"
	android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
	    <uses-library android:name="com.google.android.maps" />
		<activity android:name=".BuahTangan" android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".ScreenUtama" android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar">
		</activity>
		<activity android:name=".DaftarWisataGroup" android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar">
		</activity>
		<activity android:name=".DaftarOleh2Group" android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar">
		</activity>
		<activity android:name=".DaftarWisata" android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar">
		</activity>
		<activity android:name=".DaftarOleh2" android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar">
		</activity>
		<activity android:name=".DetilWisata" android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar">
		</activity>
		<activity android:name=".DetilOleh2" android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar">
		</activity>
		<activity android:name=".Map" android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar">
		</activity>
	</application>
	<uses-sdk android:minSdkVersion="8" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
	

</manifest>
